In [ ]:
import pandas as pd
import numpy as np

## Lendo dataframes

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/recomendacao/embedings.csv")

In [ ]:
df.head()

,movieId,title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Horror,IMAX,Musical,Mystery,Others,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df = df.groupby(['movieId', 'title'], as_index=False).sum()

In [ ]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [ ]:
movies = pd.read_csv("/content/drive/MyDrive/recomendacao/movies_fix.csv")

In [ ]:
movies.head()

   Unnamed: 0  movieId      title     genres    year
0           0        1  Toy Story  Adventure  1995.0
1           0        1  Toy Story  Animation  1995.0
2           0        1  Toy Story   Children  1995.0
3           0        1  Toy Story     Comedy  1995.0
4           0        1  Toy Story    Fantasy  1995.0

In [ ]:
movies.drop("Unnamed: 0", axis=1, inplace=True)

In [ ]:
movies.movieId.nunique()

9742

In [ ]:
user_ratings = pd.read_csv("/content/drive/MyDrive/recomendacao/ratings.csv")

In [ ]:
user_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## Parte 1

In [ ]:
user_ratings.movieId.nunique()

9724

In [ ]:
unique_movies_list = list(user_ratings.movieId.unique())

In [ ]:
movies = movies[movies["movieId"].isin(unique_movies_list)]

In [ ]:
movies.movieId.nunique()

9724

In [ ]:
user_ratings.drop(columns =["timestamp"],axis=1, inplace = True)

In [ ]:
df3 = df.merge(user_ratings, on='movieId')

In [ ]:
df3.head()

,movieId,title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Musical,Mystery,Others,Romance,Sci-Fi,Thriller,War,Western,userId,rating
0,1,Toy Story,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,4.0
1,1,Toy Story,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,5,4.0
2,1,Toy Story,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,7,4.5
3,1,Toy Story,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,15,2.5
4,1,Toy Story,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,17,4.5

In [ ]:
lista_movies = list(movies.genres.unique())

In [ ]:
len(lista_movies)

20

In [ ]:
df3 = df3[["userId","movieId",'title',"rating"] + lista_movies]

In [ ]:
df3.head()

,userId,movieId,title,rating,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,Others
0,1,1,Toy Story,4.0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,5,1,Toy Story,4.0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,7,1,Toy Story,4.5,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,15,1,Toy Story,2.5,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,17,1,Toy Story,4.5,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df4 = df3[lista_movies].multiply(df3["rating"], axis="index")

In [ ]:
df4

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,Others
0,4.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.5,4.5,4.5,4.5,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.5,2.5,2.5,2.5,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.5,4.5,4.5,4.5,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,0.0,4.0,0.0,4.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100832,0.0,3.5,0.0,3.5,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100833,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100834,0.0,3.5,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100835,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df5 = df3[["userId","movieId",'title',"rating"]]

In [ ]:
df_final = pd.concat([df5, df4], axis=1)

In [ ]:
df_final.head()

,userId,movieId,title,rating,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,Others
0,1,1,Toy Story,4.0,4.0,4.0,4.0,4.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,1,Toy Story,4.0,4.0,4.0,4.0,4.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,1,Toy Story,4.5,4.5,4.5,4.5,4.5,4.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15,1,Toy Story,2.5,2.5,2.5,2.5,2.5,2.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17,1,Toy Story,4.5,4.5,4.5,4.5,4.5,4.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
movie_genres = list(df_final.columns)[4:]

In [ ]:
user_genre = df_final[["userId"] + movie_genres]

In [ ]:
user_genre.head()

,userId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,Others
0,1,4.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,4.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,4.5,4.5,4.5,4.5,4.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15,2.5,2.5,2.5,2.5,2.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17,4.5,4.5,4.5,4.5,4.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
user_genre.userId.nunique()

610

In [ ]:
user_genre.head()

In [ ]:
total_genre = user_genre.groupby(['userId'], as_index=False).sum()

In [ ]:
total_genre.head()

,userId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,Others
0,1,373.0,136.0,191.0,355.0,202.0,112.0,308.0,389.0,196.0,...,59.0,75.0,169.0,99.0,103.0,0.0,0.0,30.0,5.0,0.0
1,2,12.5,0.0,0.0,28.0,0.0,4.5,66.0,43.5,38.0,...,3.0,8.0,15.5,4.5,0.0,13.0,15.0,3.5,0.0,0.0
2,3,30.0,2.0,2.5,9.0,13.5,2.5,12.0,50.0,1.0,...,37.5,5.0,63.0,2.5,0.5,0.0,0.0,0.0,0.0,0.0
3,4,106.0,24.0,38.0,365.0,70.0,196.0,418.0,83.0,103.0,...,17.0,80.0,34.0,25.0,64.0,8.0,3.0,38.0,16.0,0.0
4,5,26.0,26.0,37.0,52.0,29.0,34.0,95.0,28.0,46.0,...,3.0,4.0,5.0,10.0,22.0,0.0,11.0,6.0,0.0,0.0

In [ ]:
total_genre.shape

(610, 21)

In [ ]:
normalaize_genre = total_genre.iloc[:,1:].div(total_genre.iloc[:,1:].sum(axis=1), axis=0).round(4)

In [ ]:
normalaize_genre.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,Others
0,0.1231,0.0449,0.0630,0.1172,0.0667,0.0370,0.1017,0.1284,0.0647,0.0752,0.0195,0.0248,0.0558,0.0327,0.0340,0.0000,0.0000,0.0099,0.0017,0.0
1,0.0428,0.0000,0.0000,0.0959,0.0000,0.0154,0.2260,0.1490,0.1301,0.1267,0.0103,0.0274,0.0531,0.0154,0.0000,0.0445,0.0514,0.0120,0.0000,0.0
2,0.1154,0.0077,0.0096,0.0346,0.0519,0.0096,0.0462,0.1923,0.0038,0.1115,0.1442,0.0192,0.2423,0.0096,0.0019,0.0000,0.0000,0.0000,0.0000,0.0
3,0.0581,0.0132,0.0208,0.2002,0.0384,0.1075,0.2293,0.0455,0.0565,0.0741,0.0093,0.0439,0.0187,0.0137,0.0351,0.0044,0.0016,0.0208,0.0088,0.0
4,0.0558,0.0558,0.0794,0.1116,0.0622,0.0730,0.2039,0.0601,0.0987,0.0687,0.0064,0.0086,0.0107,0.0215,0.0472,0.0000,0.0236,0.0129,0.0000,0.0

In [ ]:
users = total_genre["userId"]

In [ ]:
total_genre_normalize = pd.concat([users, normalaize_genre], axis=1)

In [ ]:
total_genre_normalize.head()

,userId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,Others
0,1,0.1231,0.0449,0.0630,0.1172,0.0667,0.0370,0.1017,0.1284,0.0647,...,0.0195,0.0248,0.0558,0.0327,0.0340,0.0000,0.0000,0.0099,0.0017,0.0
1,2,0.0428,0.0000,0.0000,0.0959,0.0000,0.0154,0.2260,0.1490,0.1301,...,0.0103,0.0274,0.0531,0.0154,0.0000,0.0445,0.0514,0.0120,0.0000,0.0
2,3,0.1154,0.0077,0.0096,0.0346,0.0519,0.0096,0.0462,0.1923,0.0038,...,0.1442,0.0192,0.2423,0.0096,0.0019,0.0000,0.0000,0.0000,0.0000,0.0
3,4,0.0581,0.0132,0.0208,0.2002,0.0384,0.1075,0.2293,0.0455,0.0565,...,0.0093,0.0439,0.0187,0.0137,0.0351,0.0044,0.0016,0.0208,0.0088,0.0
4,5,0.0558,0.0558,0.0794,0.1116,0.0622,0.0730,0.2039,0.0601,0.0987,...,0.0064,0.0086,0.0107,0.0215,0.0472,0.0000,0.0236,0.0129,0.0000,0.0

In [ ]:
total_genre_normalize.shape

(610, 21)

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df.head()

,movieId,title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Others,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Gerando RecomendaÃ§Ãµes

In [ ]:
movie_embedding = df.copy()

In [ ]:
user_1 = total_genre_normalize[total_genre_normalize["userId"]==1].iloc[:,1:].values

In [ ]:
user_1[0]

array([0.1231, 0.0449, 0.063 , 0.1172, 0.0667, 0.037 , 0.1017, 0.1284,
       0.0647, 0.0752, 0.0195, 0.0248, 0.0558, 0.0327, 0.034 , 0.    ,
       0.    , 0.0099, 0.0017, 0.    ])

In [ ]:
rec_user = movie_embedding.iloc[:,2:].mul(user_1 , axis=1)

In [ ]:
rec_user.head()

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Others,Romance,Sci-Fi,Thriller,War,Western
0,0.0,0.0449,0.063,0.1172,0.0667,0.0,0.0,0.0000,0.0647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0449,0.000,0.1172,0.0000,0.0,0.0,0.0000,0.0647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0000,0.000,0.0000,0.0667,0.0,0.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0000,0.000,0.0000,0.0667,0.0,0.0,0.1284,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0000,0.000,0.0000,0.0667,0.0,0.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
movies = movie_embedding[["movieId",'title']]

In [ ]:
rec_user_1 = pd.concat([movies, rec_user], axis=1)

In [ ]:
rec_user_1.head()

,movieId,title,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,Others,total
0,1,Toy Story,0.0449,0.063,0.1172,0.0667,0.0647,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.3116
1,2,Jumanji,0.0449,0.000,0.1172,0.0000,0.0647,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1819
2,3,Grumpier Old Men,0.0000,0.000,0.0000,0.0667,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0667
3,4,Waiting to Exhale,0.0000,0.000,0.0000,0.0667,0.0000,0.0,0.1284,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1951
4,5,Father of the Bride Part II,0.0000,0.000,0.0000,0.0667,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0667

In [ ]:
rec_user_1 = rec_user_1[["movieId","title"] + movie_genres]

In [ ]:
rec_user_1['total'] = rec_user_1[['movieId'] + movie_genres].iloc[:,2:].sum(axis=1).values

In [ ]:
rec_user = rec_user_1[["title", "total"]]

In [ ]:
rec_user.head()

                         title   total
0                    Toy Story  0.3116
1                      Jumanji  0.1819
2             Grumpier Old Men  0.0667
3            Waiting to Exhale  0.1951
4  Father of the Bride Part II  0.0667

In [ ]:
rec_user.sort_values("total",ascending=False).head(10)

                                                  title   total
7441                                             Rubber  0.4925
5556  Patlabor: The Movie (KidÃ´ keisatsu patorebÃ¢: T...  0.4693
8900                                         Inside Out  0.4400
1584                              All Dogs Go to Heaven  0.4400
8357                                     The Lego Movie  0.4347
5490  Twelve Tasks of Asterix, The (Les douze travau...  0.4347
6448                TMNT (Teenage Mutant Ninja Turtles)  0.4347
1390                                              Mulan  0.4311
511                     Snow White and the Seven Dwarfs  0.4291
3460                                      Osmosis Jones  0.4281

In [ ]:
## Filtrar filmes que o Cliente jÃ¡ assistiu
user_1_movies = df_final[df_final["userId"]==1]
movie_watched = list(user_1_movies.title.unique())

In [ ]:
len(movie_watched)

229

In [ ]:
not_watched = rec_user[~rec_user["title"].isin(movie_watched)]

In [ ]:
not_watched.sort_values("total",ascending=False).head(10)

                                                  title   total
7441                                             Rubber  0.4925
5556  Patlabor: The Movie (KidÃ´ keisatsu patorebÃ¢: T...  0.4693
8900                                         Inside Out  0.4400
1584                              All Dogs Go to Heaven  0.4400
5490  Twelve Tasks of Asterix, The (Les douze travau...  0.4347
8357                                     The Lego Movie  0.4347
6448                TMNT (Teenage Mutant Ninja Turtles)  0.4347
1390                                              Mulan  0.4311
511                     Snow White and the Seven Dwarfs  0.4291
3460                                      Osmosis Jones  0.4281

In [ ]:
len(not_watched)

9482

In [ ]:
def recommendation(userId, movie_embedding, total_genre_normalize):
  user_1 = total_genre_normalize[total_genre_normalize["userId"]==userId].iloc[:,1:].values
  rec_user = movie_embedding.iloc[:,2:].mul(user_1 , axis=1)
  movies = movie_embedding[["movieId",'title']]
  rec_user_1 = pd.concat([movies, rec_user], axis=1)
  rec_user_1 = rec_user_1[["movieId","title"] + movie_genres]
  rec_user_1['total'] = rec_user_1[['movieId'] + movie_genres].iloc[:,2:].sum(axis=1).values
  rec_user = rec_user_1[["title", "total"]]
  user_1_movies = df_final[df_final["userId"]==userId]
  movie_watched = list(user_1_movies.title.unique())
  not_watched = rec_user[~rec_user["title"].isin(movie_watched)]
  dfsim = not_watched.sort_values("total", ascending=False).head(10)
  return dfsim

In [ ]:
recommendation(1, movie_embedding, total_genre_normalize)

                                                  title   total
7441                                             Rubber  0.4925
5556  Patlabor: The Movie (KidÃ´ keisatsu patorebÃ¢: T...  0.4693
8900                                         Inside Out  0.4400
1584                              All Dogs Go to Heaven  0.4400
5490  Twelve Tasks of Asterix, The (Les douze travau...  0.4347
8357                                     The Lego Movie  0.4347
6448                TMNT (Teenage Mutant Ninja Turtles)  0.4347
1390                                              Mulan  0.4311
511                     Snow White and the Seven Dwarfs  0.4291
3460                                      Osmosis Jones  0.4281